{% extends "movies/base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "movies/style.css" %}" />

{% block content %}
<h1>Registration</h1>
<p>You can register new user at our site</p>
<form action="/register" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="block-input">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <br>
            {{ field }}
        </div>
    {% endfor %}
    <div class="block-button">
        <input class="button-input" type="submit" name="register" id="register_user" value="register">
        <a class="row-link" href="{% url 'login' %}">Enter already existing account</a>
    </div>
</form>
{% endblock %}